<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tea-m | Your profile</title>

    <!-- Frameworks -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />

    <!-- Styles -->
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="container-fluid mx-0">
      <!-- Header -->
      <div class="row bg-dark">
        <header class="col text-center">~~Team Name~~</header>
      </div>

      <!-- Main Row For Holding Users -->
      <div class="row mx-5 px-5 pt-3">~~Users~~</div>
    </div>
  </body>
</html>
